<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1" http-equiv="Content-Type">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	
</script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	
</script>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
<script th:src="@{/angular.min.js}"></script>
<script th:src="@{/app.js}"></script>
<script th:src="@{/appController.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/app.css}" />
<title>Spring Boot CRUD Application with AngularJS</title>
</head>